.slideshow {
  max-width: 100%;
  position: relative;
  width: 100vw;

  .container {
    position: relative;

    .item {
      display: inline-block;
      height: 800px;
      margin-left: 20px;
      user-select: none;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      img {
        @include disableUserSelect();
        display: inline-block;
        height: 100%;
      }
    }
  }
}
