
@keyframes item_animation_in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes item_animation_out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.page-monoController {
  min-height: 100vh;
  position: relative;

  .corner-item {
    background: red;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .items {
    height: px-to-rem(220);
    background-color: hsl(0, 0, 99);
    margin-bottom: 0;
    margin-top: 400px;
    position: relative;
    padding: space('medium');
  }

  .item {
    background-color: hsl(220, 20, 5);
    border-radius: border-radius('base');
    box-sizing: border-box;
    color: color('white');
    display: none;
    font-size: font-size('medium');
    height: px-to-rem(140);
    margin: space('medium');
    padding: space('medium');
    width: px-to-rem(140);

    h2 {
      color: color('white');
    }

    &.item--active {
      display: inline-block;
    }

    &.item--animate-in {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: item_animation_in;
      animation-timing-function: ease-out;
    }

    &.item--animate-out {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: item_animation_out;
      animation-timing-function: ease-out;
    }
  }

  .controls {
    padding: space('medium');
    background-color: hsl(0, 0, 95);

    a:link,
    a:visited {
      display: inline-block;
      padding: 10px;
    }
  }
}