@import 'reset';

@import 'config';

@import 'global/index';

@import 'site/index';
@import 'pages/index';

.box {
  background-color: hsl(0, 0, 96);
  border-radius: px-to-rem(12);
  box-sizing: border-box;
  color: hsl(0, 0, 20);
  height: px-to-rem(200);
  padding: px-to-rem(20);
  width: px-to-rem(200);
}

.tap {
  background-color: hsl(220, 50, 96);
  padding: 40px;
  height: px-to-rem(200);
  width: px-to-rem(200);
}