.rectangle {
  background: hsl(0, 0, 96);
  box-sizing: border-box;
  font-size: 20px;
  height: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  width: 100px;
}

.autoScale {
  background-color: hsl(200, 100, 10);
  color: white;
  margin: px-to-rem(20);
  width: 100px;
}