@import 'reset';

.sequence_item {
  display: none;

  &.__active {
    display: block;
  }
}

@keyframes page-sequenceController-item-animation-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes page-sequenceController-item-animation-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-sequenceController {
  .items {
    min-height: 180px;
    background: hsl(0, 0, 99);
    margin-bottom: 0;
    position: relative;
    padding: space('medium');
    display: flex;
    justify-content: center;
  }

  .itemContainer {
    background-color: hsl(0, 0, 20);
    padding: space('medium');
    box-sizing: border-box;
    transition-duration: 2s;
    transition-timing-function: ease-out;
  }

  .item {
    background-color: hsl(220, 20, 5);
    border-radius: border-radius('base');
    box-sizing: border-box;
    color: color('white');
    display: none;
    height: px-to-rem(140);
    margin: space('medium');
    padding: space('medium');
    width: px-to-rem(140);
    vertical-align: middle;

    &.item--active {
      display: inline-block;
    }

    &.item--animate-in {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: page-sequenceController-item-animation-in;
      animation-timing-function: ease-out;
    }

    &.item--animate-out {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: page-sequenceController-item-animation-out;
      animation-timing-function: ease-out;
    }
  }

  .controls {
    padding: 20px;
    background-color: hsl(0, 0, 95);

    a:link,
    a:visited {
      display: inline-block;
      padding: 10px;
    }
  }
}