.label {
  @include apply-text-size('small');

  font-weight: font-weight('semi-bold');
}

input[type=radio].input {
  display: inline-block !important;
  height: space('medium');
  vertical-align: middle;
  width: space('medium');
}

.input-radio-container {
  height: 44px;
  line-height: 44px;

  .radio {
    display: inline-block;
    margin-right: space('x-small');
    vertical-align: middle;
    width: 20px;
  }

  .label {
    display: inline-block;
  }
}

.input-group {
  margin-bottom: space('medium');

  &:last-child {
    margin-bottom: 0;
  }
}

ul.input-errors {
  background-color: color('error', 'light');
  border-color: color('error');
  border-radius: border-radius('x-small');
  border-style: solid;
  border-width: border-width('base');
  display: none;
  margin-bottom: space('medium');
  margin-top: space('x-small');

  li {
    @include apply-text-size('x-small');

    font-weight: font-weight('semi-bold');
    padding: space('x-small');
  }

  &.input-errors--active {
    display: block;
  }
}

.input-success {
  background-color: color('success', 'light');
  border: border-width('base') solid color('success');
  border-radius: border-radius('medium');
  box-sizing: border-box;
  display: none;
  font-weight: font-weight('bold');
  padding: space('large');
  text-align: center;
  width: 100%;

  &.input-success--active {
    display: block;
  }
}