@keyframes page-polyController-item-animation-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes page-polyController-item-animation-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-polyController {
  .items {
    min-height: px-to-rem(180);
    background-color: color('extra-light');
    margin-bottom: 0;
    position: relative;
    padding: space('medium');
    display: flex;
    justify-content: center;
  }

  .itemContainer {
    background-color: color('extra-light');
    border: border-width('base') solid color('dark');
    padding: space('medium');
    box-sizing: border-box;

    transition-duration: 2s;
    transition-timing-function: ease-out;
  }

  .item {
    background-color: color('dark');
    border-radius: border-radius('base');
    box-sizing: border-box;
    color: color('white');
    display: none;
    height: px-to-rem(140);
    margin: space('medium');
    padding: space('medium');
    vertical-align: middle;
    width: px-to-rem(140);

    &.item--active {
      display: inline-block;
    }

    &.item--animate-in {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: page-polyController-item-animation-in;
      animation-timing-function: ease-out;
    }

    &.item--animate-out {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: page-polyController-item-animation-out;
      animation-timing-function: ease-out;
    }
  }

  .controls {
    padding: space('medium');
    background-color: color('extra-light');

    a:link,
    a:visited {
      display: inline-block;
    }
  }
}