@import 'reset';

$fontFamily_0: 'Helvetica Neue',
'Helvetica',
Arial,
sans-serif;

$base_fontFamily: $fontFamily_0;
$base_fontSize: 16px;

%normalize_fonts {
  font-family: $base_fontFamily;
  font-size: $base_fontSize;
}

html {
  @extend %normalize_fonts;
}

.sequence_item {
  display: none;

  &.__active {
    display: block;
  }
}


@keyframes polyItem_animation_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes polyItem_animation_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.polyItem {
  border: 4px solid hsl(0, 0, 90);
  display: none;
  padding: 20px;
  width: 200px;

  &.__active {
    display: block;
  }

  &.__red {
    background: red;
  }

  &.__animateIn {
    animation-duration: 0.4s;
    animation-fill-mode: forward;
    animation-name: polyItem_animation_in;
    animation-timing-function: ease-out;
  }

  &.__animateOut {
    animation-duration: 0.4s;
    animation-fill-mode: forward;
    animation-name: polyItem_animation_out;
    animation-timing-function: ease-out;
  }
}

.controls {
  padding: 20px;
  background-color: hsl(0, 0, 95)
}