@import 'reset';

$fontFamily_0: 'Helvetica Neue',
'Helvetica',
Arial,
sans-serif;

$base_fontFamily: $fontFamily_0;
$base_fontSize: 16px;

%normalize_fonts {
  font-family: $base_fontFamily;
  font-size: $base_fontSize;
}

html {
  @extend %normalize_fonts;
}

.sequence_item {
  display: none;

  &.__active {
    display: block;
  }
}

.poly_item {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  display: none;
  width: 200px;

  border: 5px solid hsl(0, 0, 90);

  &.__active {
    display: block;
  }
}

.controls {
  padding: 20px;
  background-color: hsl(0, 0, 95)
}