@import 'reset';

$fontFamily_0: 'Helvetica Neue',
'Helvetica',
Arial,
sans-serif;

$base_fontFamily: $fontFamily_0;
$base_fontSize: 16px;

%normalize_fonts {
  font-family: $base_fontFamily;
  font-size: $base_fontSize;
}

html {
  @extend %normalize_fonts;
}

.sequence_item {
  display: none;

  &.__active {
    display: block;
  }
}


@keyframes item_animation_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes item_animation_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.items {
  min-height: 180px;
  background: hsl(0, 0, 99);
  margin-bottom: 0px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.itemContainer {
  background: hsl(0, 0, 20);
  padding: 10px;
  box-sizing: border-box;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.item {
  background: hsl(220, 20, 5);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  display: none;
  height: 140px;
  margin: 20px;
  padding: 20px;
  width: 140px;
  vertical-align: middle;

  &.__active {
    display: inline-block;
  }

  &.__animateIn {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: item_animation_in;
    animation-timing-function: ease-out;
  }

  &.__animateOut {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: item_animation_out;
    animation-timing-function: ease-out;
  }
}

.controls {
  padding: 20px;
  background-color: hsl(0, 0, 95);

  a:link,
  a:visited {
    display: inline-block;
    padding: 10px;
  }
}