%style-normalizeAnchor {
  color: base(color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// Text Styles

%style-text-display {
  @include apply-font-size(normal, display);

  color: base(color);
  font-family: base(font-family);
  font-weight: font-weight(medium);
}

%style-text-heading {
  @include apply-font-size(normal, heading);

  color: base(color);
  font-family: base(font-family);
  font-weight: font-weight(bold);
}

%style-text-body {
  @include apply-font-size(normal);

  color: base(color);
  font-family: base(font-family);
  font-weight: font-weight(medium);
}