%style_normalizeAnchor {
  color: base(color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// Text Styles

%style_text_display {
  @include applyFontSize(normal, display);

  color: base(color);
  font-family: base(fontFamily);
  font-weight: fontWeight(medium);
}

%style_text_heading {
  @include applyFontSize(normal, heading);

  color: base(color);
  font-family: base(fontFamily);
  font-weight: fontWeight(bold);
}

%style_text_body {
  @include applyFontSize(normal);

  color: base(color);
  font-family: base(fontFamily);
  font-weight: fontWeight(medium);
}