.input-group {
  label {
    display: block;
  }

  margin-bottom: space('medium');

  &:last-child {
    margin-bottom: 0;
  }
}

ul.input-errors {
  li {
    display: block;
  }
}

.label {
  margin-bottom: space('x-small');
}

.input {
  @include input();
}

textarea.textarea {
  @include textarea();
}

.button {
  @include button();
}

select {
  appearance: none;
  display: block;

  border: 1px solid color('black');

  width: 100%;
}

.input-placeholder {
  height: ui('input-height');
  position: relative;

  input.input {
    background-color: transparent;
    position: absolute;
    z-index: 1;
  }

  label.label {
    font-size: font-size('small');
    height: ui('label-height');
    line-height: ui('input-height');
    padding-left: font-size('base');
    padding-right: space('base');
    position: absolute;
    top: 0;
    z-index: 0;

    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &.input-placeholder--focus {
    input.input {
      border-radius: 8px;
      border: 1px solid color('black');
      line-height: 20px;
      padding-left: font-size('base');
      padding-right: font-size('base');
      padding-top: 18px;
    }

    label.label {
      top: 0;
      height: 18px;
      font-size: 12px;
      line-height: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}