.input-group {
  margin-bottom: space('medium');

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  @include apply-font-size('small');

  margin-bottom: space('x-small');
}

%button-normalize {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;

  transition-duration: 0.2s;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-out;

  &:hover {
    text-decoration: none;
  }
}

%button-style-primary {
  background-color: color('primary');
  color: color('white');

  &:hover {
    background-color: color('primary', 'hover');
  }

  &:active {
    background-color: color('primary', 'active');
  }
}

%button-style-secondary {
  background-color: color('light');
  color: color('black');

  &:hover {
    background-color: color('light', 'hover');
  }

  &:active {
    background-color: color('light', 'active');
  }
}

%button-style-transparent {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

%button-size-base {
  @include apply-font-size('base');

  padding: font-size('base');
}