.inputGroup {
  label {
    display: block;
  }

  margin-bottom: space(medium);

  &:last-child {
    margin-bottom: 0;
  }
}

ul.inputErrors {
  li {
    display: block;
  }
}

.input {
  @include input();

  &:focus {
    outline: none;
  }
}

textarea.input {
  display: block;
  resize: none;
}

select {
  appearance: none;
  display: block;

  border: 1px solid color(black);

  width: 100%;
}

.inputPlaceholder {
  $height: 60px;

  height: $height;
  position: relative;

  input.input {
    background-color: transparent;
    height: $height;
    position: absolute;
    z-index: 1;
  }

  label.label {
    height: 44px;
    position: absolute;
    line-height: 60px;
    top: 0px;
    z-index: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  
  }

  &.__focus {
    input.input {
      border-radius: 8px;
      border: 1px solid black;
      line-height: 20px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 18px;
    }
    label.label {
      top: 0px;
      height: 18px;
      font-size: 12px;
      line-height: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}