@import 'reset';

$_fontFamily: (
  primary: ('Helvetica Neue', 'Helvetica', Arial, sans-serif),
);

%style_text_normalize {
  font-family: map-get($_fontFamily, primary);
  font-size: 16px;
  line-height: 22px;
};

%style_input_normalize {
  @extend %style_text_normalize;
  appearance: none;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  &:focus {
    outline: none;
  }
};

.inputGroup {

  label {
    display: block;
  }

  margin-bottom: 20px;
}

html {
  font-family: map-get($_fontFamily, primary);
  padding: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

a:link,
a:visited {
  color: hsl(240, 50, 50);
  font-size: 32px;
  line-height: 44px;
}

ul {
  margin-bottom: 40px;

  li {
    display: block;
    margin-bottom: 12px;
  }
}