@mixin button($height: base(button-height), $line-height: base(button-height), $padding: space(large)) {
  @extend %style-normalizeAnchor;
  @extend %style-text-body;

  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;

  height: $height;
  max-height: $height;
  padding: #{($height - $line-height) / 2} $padding;
  padding: 0px space(large);

  background: color(primary);
  border-radius: border-radius(small);
  border: 0;

  color: color(white);
  font-weight: font-weight(semi-bold);
  line-height: $line-height;
  text-align: center;

  transition-duration: 0.2s;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-out;

  &:focus {
    outline: none;
  }
}

@mixin input($height: base(input-height), $padding: font-size(base), $font-size: base) {
  $_font-size: font-size($font-size);
  $line-height: line-height($font-size);

  @extend %style-text-body;

  appearance: none;
  box-sizing: border-box;
  display: block;
  tab-size : 2;

  height: $height;
  padding: #{($height - $line-height) / 2} $padding;  
  width: 100%;

  background-color: white;
  border-radius: borderRadius(xSmall);
  border: 1px solid color(medium);

  font-size: $_font-size;
  line-height: $line-height;

  transition-duration: 0.2s;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-out;

  @content;

  &:focus {
    outline: none;
  }
}

@mixin bottom-left-bar($width: 40px, $height: 2px, $color: color(black), $spacing: space(x-small)) {
  &:after {
    content: '';
    position: absolute;

    bottom: - $spacing;
    height: $height;
    left: 0;
    width: $width;

    background-color: $color;
  }
}