@mixin button($height: base(buttonHeight), $lineHeight: base(buttonHeight), $padding: space(large)) {
  @extend %style_normalizeAnchor;
  @extend %style_text_body;

  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;

  height: $height;
  max-height: $height;
  padding: #{($height - $lineHeight) / 2} $padding;
  padding: 0px space(large);

  background: color(primary);
  border-radius: borderRadius(small);
  border: 0;

  color: color(white);
  font-weight: fontWeight(semiBold);
  line-height: $lineHeight;
  text-align: center;

  transition-duration: 0.2s;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-out;

  &:focus {
    outline: none;
  }
}

@mixin input($height: base(inputHeight), $padding: fontSize(normal), $fontSize: normal) {
  $_fontSize: fontSize($fontSize);
  $lineHeight: lineHeight($fontSize);

  @extend %style_text_body;

  appearance: none;
  box-sizing: border-box;
  display: block;
  tab-size : 2;

  height: $height;
  padding: #{($height - $lineHeight) / 2} $padding;  
  width: 100%;

  background-color: white;
  border-radius: borderRadius(xSmall);
  border: 1px solid color(medium);

  font-size: $_fontSize;
  line-height: $lineHeight;

  transition-duration: 0.2s;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-out;

  @content;

  &:focus {
    outline: none;
  }
}

@mixin bottomLeftBar($width: 40px, $height: 2px, $color: color(black), $spacing: space(xSmall)) {
  &:after {
    content: '';
    position: absolute;

    bottom: - $spacing;
    height: $height;
    left: 0;
    width: $width;

    background-color: $color;
  }
}