// Global

$_fontFamily: (
  primary  : ('Avenir Next', 'Helvetica Neue', Arial, sans-serif),
  condensed: ('Avenir Next Condensed', 'Helvetica Neue', Arial, sans-serif),
);

$_fontSize: (
  xsmall: (
    fontSize  : 12px,
    lineHeight: 20px,
  ),
  small: (
    fontSize  : 14px,
    lineHeight: 20px,
  ),
  normal: (
    fontSize  : 16px,
    lineHeight: 24px,
  ),
  medium: (
    fontSize  : 18px,
    lineHeight: 24px,
  ),
  large: (
    fontSize  : 20px,
    lineHeight: 30px,
  ),
  xlarge: (
    fontSize  : 24px,
    lineHeight: 28px,
  ),
);

$_fontSize_heading: (
  normal: (
    fontSize  : 36px,
    lineHeight: 44px,
  ),
  medium: (
    fontSize  : 42px,
    lineHeight: 58px,
  ),
  large: (
    fontSize  : 48px,
    lineHeight: 54px,
  ),
  xlarge: (
    fontSize  : 56px,
    lineHeight: 64px,
  ),
);

$_fontSize_display: (
  normal: (
    fontSize  : 64px,
    lineHeight: 68px,
  ),
  medium: (
    fontSize  : 72px,
    lineHeight: 76px,
  ),
  large: (
    fontSize  : 84px,
    lineHeight: 88px,
  ),
  xlarge: (
    fontSize  : 96px,
    lineHeight: 96px,
  ),
);

$_fontWeight: (
  normal   : 400,
  medium   : 500,
  semiBold : 600,
  bold     : 700,
  extraBold: 900,
);

$_borderRadius: (
  xsmall: 4px,
  small : 8px,
  normal: 12px,
  large : 24px,
);

$_space: (
  xsmall : 4px,
  small  : 8px,
  normal : 12px,
  medium : 20px,
  large  : 40px,
  xlarge : 80px,
  xxlarge: 100px,
);

$_color: (
  primary: hsl(340, 50, 50),
  white  : white,
  black  : black,
);

$_breakpoint: (
  xsmall: 320px,
  small : 576px,
  normal: 768px,
  medium: 992px,
  large : 1200px,
);

$_ui: (
  labelHeight : 30px,
  inputHeight : 60px,
  buttonHeight: 44px,
);

$_base: (
  color     : map-get($_color, dark),
  fontFamily: map-get($_fontFamily, primary),
  width     : 1366px,
);