@import 'reset';

html {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  padding: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

a:link,
a:visited {
  color: hsl(240, 50, 50);
  font-size: 32px;
  line-height: 44px;
}

ul {
  margin-bottom: 40px;

  li {
    display: block;
    margin-bottom: 12px;
  }
}